name: auth_client

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths:
      - "packages/auth_client/**"
      - ".github/workflows/auth_client.yaml"
    branches:
      - main

jobs:
  build:
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/dart_package.yml@v1
    with:
      flutter_version: 3.3.1
      working_directory: packages/auth_client
      coverage_excludes: "lib/src/generated/*.dart"